
@{
    ViewBag.Title = "Rating";
}

<h2>Rating</h2>

<style>
    body {
        /*background-image: background-color: burlywood;*/
        background-image: url('../../banner.jpg');
        height:100%;
        background-repeat:no-repeat;
        background-size:cover;
        /*background-position: center;*/
    }
</style>

<h2 class="text-success">Thanks For Visiting</h2>
<h3 class="text-warning">Please Rate This App</h3>
<link href="~/styles/Emoji.css" rel="stylesheet" />



<input type="radio" name="emotion"
       id="bad" class="input-hidden" />
<label for="bad" title="Bad">
    <img src="~/Pictures/Rating/1.jpg"
         alt="I'm sad" />
</label>

<input type="radio" name="emotion"
       id="not good" class="input-hidden" />
<label for="not good" title="Not Good">
    <img src="~/Pictures/Rating/2.jpg"
         alt="Ok" />
</label>

<input type="radio" name="emotion"
       id="Average" class="input-hidden" />
<label for="Average" title="Average">
    <img src="~/Pictures/Rating/3.jpg"
         alt="Cool" />
</label>

<input type="radio" name="emotion"
       id="Good" class="input-hidden" />
<label for="Good" title="Good">
    <img src="~/Pictures/Rating/4.jpg"
         alt="I'm happy" />
</label>

<input type="radio" name="emotion"
       id="Amazing" class="input-hidden" />
<label for="Amazing" title="Amzing">
    
    <img src="~/Pictures/Rating/5.jpg"
         alt="I'm happy" />
</label>
<br/>
<input type="submit" value="Done" class="text-warning btn btn-success">
<left>
    <a href="http://localhost:57765/Payment/Payment"
       class="btn btn-success avail-row-btn" role="button" target="_blank">Back</a>
</left>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

