
@{
    ViewBag.Title = "Action";
}

<h2>Action</h2>
<html>
<body>
    <table style="width:100%; height:100%" : 1px solid black;>
        <tr>
            <th height: 20px; align="center">MovieName</th>
            <th height: 50px; align="center">ReleaseDate</th>
            <th height: 50px; align="center">Description</th>
        </tr>
        <tr>
            <td height="80px" width="80px">
                Mission Impossible
                <br />
                <img src="~/Pictures/Action/Action1.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
                

            </td>
            <td align="center">12-12-2009</td>
            <td>When U.S. government operative Ethan Hunt (Tom Cruise) and his mentor, Jim Phelps (Jon Voight), go on a covert assignment that takes a disastrous turn, Jim is killed, and Ethan becomes the prime murder suspect.</td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>
        <div>
            <tr>
                <td height="80px" width="80px">
                    BusinessMan
                    <br />


                    <img src="~/Pictures/Action/Action2.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />

                </td>
                <td align="center">10-06-2010</td>
                <td align="center">
                    Surya, a young man, moves to Mumbai hoping to join the underworld.
                    He forms his own gang and starts recruiting criminals and gangsters.
                    Things take a turn when he falls in love with a cop's daughter.

                </td>
                <td>
                    <a href="http://localhost:57765/Calender/TimeSlot"
                       class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
                </td>
            </tr>
        </div>
        <tr>
            <td height="80px" width="80px">
                Pirates of Caribbean
                <br />

                <img src="~/Pictures/Action/Action3.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />

            </td>
            <td align="center">10-06-2010</td>
            <td align="center">
                Capt. Jack Sparrow (Johnny Depp) arrives at Port Royal in the Caribbean without a ship or crew.
                His timing is inopportune, however, because later that evening the town is besieged by a pirate ship.
                The pirates kidnap the governor's daughter, Elizabeth (Keira Knightley),
                who's in possession of a valuable coin that is linked to a curse that has
                transformed the pirates into the undead.
            </td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>
        <tr>
            <td height="80px" width="80px">
                Brave Heart
                <br />

                <img src="~/Pictures/Action/Action4.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
            </td>
            <td align="center">10-06-2010</td>
            <td align="center">
                William Wallace is the medieval Scottish patriot who is spurred into revolt against
                the English when the love of his life is slaughtered.
                Leading his army into battles that become a war,
                his advance into England threatens King Edward I's throne before he is captured and executed,
                but not before becoming a symbol for a free Scotland.
            </td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>
    </table>
</body>
</html>


