
@{
    ViewBag.Title = "Adventure";
}

<h2>Adventure</h2>
<html>
<body>
    <div class="table-responsive">

        <table style="width:100% ;height:100%" class="table table-bordered ">
            <tr>
                <th height: 20px;>MovieName</th>
                <th height: 50px;>ReleaseDate</th>
                <th height: 50px;>Description</th>
            </tr>
            <tr>
                <td height="80px" width="80px">
                    7th Sense
                    <br />

                    <img src="~/Pictures/Adventure/Adventure1.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
                </td>
                <td align="center">12-12-2009</td>
                <td align="center">
                    The legendary Bodhi Dharma, a revered fighter and medic who brought
                    Zen to China and was the foundation of the Shaolin temple has
                    almost been forgotten in his place of birth in Tamil Nadu, India.
                    Now a genetic engineering student needs to awaken the Genetic
                    Memory in his descendant today to use ancient and long forgotten skills to
                    prevent a Biological war between the two most populous nations on the earth.
                </td>
                <td>
                    <a href="http://localhost:57765/Calender/TimeSlot"
                       class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
                </td>
            </tr>
            <tr>
                <td height="80px" width="80px">
                    Harry Potter
                    <br />


                    <img src="~/Pictures/Adventure/Adventure2.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
                </td>
                <td align="center">10-06-2010</td>
                <td align="center">
                    Adaptation of the first of J.K. Rowling's popular children's
                    novels about Harry Potter,
                    a boy who learns on his eleventh birthday
                    that he is the orphaned son of two powerful wizards
                    and possesses unique magical powers of his own.
                </td>
                <td>
                    <a href="http://localhost:57765/Calender/TimeSlot"
                       class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
                </td>
            </tr>
            <tr>
                <td height="80px" width="80px">
                    Journey to the Center of the Earth
                    <br />

                    <img src="~/Pictures/Adventure/Adventure3.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
                </td>
                <td align="center">10-06-2010</td>
                <td align="center">
                    During an expedition to Iceland, professor Trevor Anderson (Brendan Fraser),
                    his nephew Sean (Josh Hutcherson) and their guide, Hannah (Anita Briem), get trapped in a cavern.
                    As they follow their only escape route deeper and deeper below the Earth's surface,
                    they pass through strange places and encounter incredible creatures, including dinosaurs.
                </td>
                <td>
                    <a href="http://localhost:57765/Calender/TimeSlot"
                       class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
                </td>
            </tr>
            <tr>
                <td height="80px" width="80px">
                    Monsters
                    <br />

                    <img src="~/Pictures/Adventure/Adventure4.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
                </td>
                <td align="center">10-06-2010</td>
                <td align="center">
                    NASA discovered a few years ago the real possibility of alien life and consequently
                    a probe was set up and launched in order to collect sample. After crashing during the re-entry over Central America,
                    new life forms began to appear and spread rapidly. Half of Mexico is quarantined as an infected zone.
                </td>
                <td>
                    <a href="http://localhost:57765/Calender/TimeSlot"
                       class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

