
@{
    ViewBag.Title = "Comedy";
}

<h2>Comedy</h2>
<html>
<body>
    <table style="width:100%; height:100%" border="1" : 1px solid black;>
        <tr>
            <th height: 20px;>MovieName</th>
            <th height: 50px;>ReleaseDate</th>
            <th height: 50px;>Description</th>
        </tr>
        <tr>
            <td height="80px" width="80px">
                The Incredibles
                <br />

                <img src="~/Pictures/Comedy/Comedy1.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
            </td>
            <td align="center">12-12-2009</td>
            <td align="center">
                In this lauded Pixar animated film, married superheroes Mr. Incredible
                (Craig T. Nelson) and Elastigirl (Holly Hunter) are forced to assume mundane
                lives as Bob and Helen Parr after all super-powered activities have been banned by the government.
            </td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>
        <tr>
            <td height="80px" width="80px">
                Golmal 3
                <br />


                <img src="~/Pictures/Comedy/Comedy2.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
            </td>
            <td align="center">10-06-2010</td>
            <td align="center">
                Cupid strikes when Pritam, a single father, comes across his college sweetheart, Geeta, in Goa.
                But with their respective children at war with each other, the two find it difficult to reunite.
            </td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>
        <tr>
            <td height="80px" width="80px">
                3 Idiots
                <br />

                <img src="~/Pictures/Comedy/Comedy3.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
            </td>
            <td align="center">10-06-2010</td>
            <td align="center">
                In college, Farhan and Raju form a great bond with Rancho due to his positive and refreshing outlook to life.
                Years later, a bet gives them a chance to look for their long-lost friend whose existence seems rather elusive.
            </td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>
        <tr>
            <td height="80px" width="80px">
                The Donkey king
                <br />

                <img src="~/Pictures/Comedy/Comedy4.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
            </td>
            <td align="center">10-06-2010</td>
            <td>Pleasant</td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>
    </table>
</body>
</html>

