
@{
    ViewBag.Title = "Family";
}

<h2>Family</h2>
<html>
<body>
    <table style="width:100%; height:100%" border="1" : 1px solid black;>
        <tr>
            <th height: 20px;>MovieName</th>
            <th height: 50px;>ReleaseDate</th>
            <th height: 50px;>Description</th>
        </tr>
        <tr>
            <td height="80px" width="80px">
                Two States
                <br />
                <img src="~/Pictures/Family/171276-2-states-movie-still-main.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
            </td>
            <td align="center">12-12-2009</td>
            <td align="center">
                A man and a woman come from two very different cultural backgrounds,
                and decide that they won't get married until they convince their parents.
                As feared, differences between the families pose a hurdle.
            </td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>
        <tr>
            <td height="80px" width="80px">
                Kuch Kuch Hota Hai
                <br />
                <img src="~/Pictures/Family/819smMebAKL._SY445_.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
            </td>
            <td align="center">10-06-2010</td>
            <td align="center">
                Anjali, the daughter of a widower named Rahul,
                finds a letter from her late mother that tells the story of a love triangle in college between her,
                Rahul and a woman named Anjali.
            </td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>
        <tr>
            <td height="80px" width="80px">
                SVSC
                <br />
                <img src="~/Pictures/Family/df3d83d674a4adab872dddc5aaf71efe76e937bf.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
            </td>
            <td align="center">10-06-2010</td>
            <td align="center">
                Relangi is a compassionate man who has three children.
                His niece, Seetha, is in love with his son, Peddodu, and Chinnodu, his other son, falls in love with Geetha.
                The two brothers have a lot of differences and are unemployed.
            </td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>
        <tr>
            <td height="80px" width="80px">
                Hum Aapke Hain Koun
                <br />
                <img src="~/Pictures/Family/images.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
            </td>
            <td align="center">10-06-2010</td>
            <td align="center">
                Prem loves Nisha, his brother Rajesh's sister-in-law.
                But when Rajesh's wife dies and his family urges him to marry Nisha for the sake of their child,
                Prem and Nisha decide to sacrifice their love.
            </td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>
    </table>
</body>
</html>


