
@{
    ViewBag.Title = "Horror";
}

<h2>Horror</h2>
<html>
<body>
    <table style="width:100%; height:100%" border="1" : 1px solid black;>
        <tr>
            <th height: 20px;>MovieName</th>
            <th height: 50px;>ReleaseDate</th>
            <th height: 50px;>Description</th>
        </tr>
        <tr>
            <td height="80px" width="80px">
                Bhoot
                <br />

                <img src="~/Pictures/Horror/Horror1.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
            </td>
            <td align="center">12-12-2009</td>
            <td align="center">
                A Mumbai businessman and his wife are looking for a new flat.
                Apartment 1201 has been vacant since its previous occupant jumped to her death.
                Undeterred, the couple still decides to move in, but before long, the wife starts to have visions.
            </td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>
        <tr>
            <td height="80px" width="80px">
                The Conjuring
                <br />


                <img src="~/Pictures/Horror/Horror2.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
            </td>
            <td align="center">10-06-2010</td>
            <td align="center">
                In 1970, paranormal investigators and demonologists Lorraine
                (Vera Farmiga) and Ed (Patrick Wilson) Warren are summoned to the home of
                Carolyn (Lili Taylor) and Roger (Ron Livingston) Perron. The Perrons and their
                five daughters have recently moved into a secluded farmhouse,
                where a supernatural presence has made itself known.
            </td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>

        <tr>
            <td height="80px" width="80px">
                Annabelle
                <br />

                <img src="~/Pictures/Horror/Horror3.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
            </td>
            <td align="center">10-06-2010</td>
            <td align="center">
                John Form (Ward Horton) thinks he's found the perfect gift for his expectant wife,
                Mia (Annabelle Wallis) : a vintage doll in a beautiful white dress. However, the couple's delight doesn't last
                long: One terrible night, devil worshippers invade their home and launch a violent attack against the couple.
            </td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>
        <tr>
            <td height="80px" width="80px">
                Bhagamathi
                <br />

                <img src="~/Pictures/Horror/Horror4.jpg" style="width:400px; height:350px;" onclick="http://localhost:57765/Seat/Ticket" />
            </td>
            <td align="center">10-06-2010</td>
            <td align="center">
                Law enforcement officials imprison IAS Officer Chanchala Reddy in
                a haunted house to interrogate about a politician whom they suspect of corruption.
                However, she ends up getting possessed by a spirit.
            </td>
            <td>
                <a href="http://localhost:57765/Calender/TimeSlot"
                   class="btn btn-success avail-row-btn" role="button" target="_blank">BookTicket</a>
            </td>
        </tr>
    </table>
</body>
</html>


